.main-box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}
.title{
    // font-family: "Roboto Slab", serif;
    text-align: center;
    font-weight: 500;
    color: #201E43;
    text-transform: uppercase;
}