.table {
  th, td {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
  }

  th {
    font-weight: bold;
  }

  .btn {
    &.btn-info {
      background-color: #00c8ff;
      border-color: #00c8ff;
    }

    &.btn-danger {
      background-color: #ff4d4d;
      border-color: #ff4d4d;
    }
  }
}

.table td .btn {
  display: inline-block;
  width: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
}
